.search-form {
    width:300px;
    max-width: 100%;
    background: linear-gradient(rgb(0, 0, 0), transparent) rgb(51, 51, 51);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size:22px;
}

.form-group {
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 2;
}

input {
    padding:10px 5px;
    width: 90%;
    font-size:20px;
}

button {
    border: none;
    cursor: pointer;
    padding:10px 30px;
    background: crimson;
    border-radius: 10px;;
    color:#fff;
    font-size:20px;

}